<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block meta %}{% endblock %}
        <meta name="description" content="Ask a question and share the link to people to vote on an answer.">
        <meta name="keywords" content="question vote poll result">

        <title>{% block title %}It's Going To Be{% endblock %}</title>

        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500,500italic,400italic,300italic,100italic,700italic' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

        {% if app.debug %}
            <link rel="stylesheet" href="{{ asset('/css/itsgoingtobe.css') }}"></script>
        {% else %}
            <link rel="stylesheet" href="{{ asset('/css/itsgoingtobe.min.css') }}"></script>
        {% endif %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        <div class="footer-container">
            <div class="footer">
                <span class="contact"><a href="mailto:itsgoingtobe@jwgmedia.co.uk" target="_top">itsgoingtobe@jwgmedia.co.uk</a></span>

                <span class="jwg_logo"><a href="http://jwgmedia.co.uk" target="_blank"><img height="50" src="{{ asset('/images/jwgmedia.png') }}"></a></span></span>
            </div>
        </div>

        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>

        {% block javascripts %}{% endblock %}

        {% if app.debug %}
            <script src="{{ asset('/js/itsgoingtobe.js') }}"></script>
        {% else %}
            <script src="{{ asset('/js/itsgoingtobe.min.js') }}"></script>
        {% endif %}
    </body>
</html>
